body{
    background-image: url(https://tse3.mm.bing.net/th/id/OIP.shECJ77IdEyhf_4Iph7MiwHaHa?r=0&rs=1&pid=ImgDetMain&o=7&rm=3);
    background-color: lightpink;
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover;*/
    background-size: 600px;
    background-attachment: fixed;
}