/*Definição de leiaute geral*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

/*Contêiner principal configurado com leiaute do tipo grid*/
.container{
    display: grid; /*Define o contêiner com laiaute grid*/
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer"; /*Define áreas nomeadas do grid.*/
    grid-template-columns: 250px 1fr; /*Define duas colunas, uma fixa e outra flexivel*/
    grid-template-rows: auto 1fr auto ; /*Altura das linhas: Cabeçalho e rodapé
    automaticos, ou seja se adaptam ao conteúdo deles: e conteúdo principal da página flexivel*/
    height: 100vh; /*Contêiner ocupa 100% do viewport*/
    gap: 100px; /*Espaço entre as colunas do gris*/
    padding: 10px; /*Preenchimento interno ao redor do grid*/
}

/*Estilizando cada área do grid*/
.header{
    grid-area: header; /*Associa esta classe as áreas "header"*/
    background-color: azure;
    color: rgb(130, 142, 231);
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar{
    grid-area: sidebar;
    background-color: lightsteelblue;
    padding: 20px;
    border-right: 1px solid #ccccccec;
}

.content{
    grid-area: content;
    background-color: lightcyan;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.201);
}

.footer{
    grid-area: footer;
    background-color: lightskyblue;
    color: rgb(130, 142, 231);
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}