body {
    height: 100vh;
    overflow: hidden; /* informa o computador para que um elemento sobreponha o outro*/
    background-color: black;
}
.estrelinha {
    position: fixed;
    color: rgb(237, 255, 254);
    font-size: 28px;
    pointer-events: none;
    text-shadow: 0 0 8px rgb(254, 213, 143), 0 0 12px #97862f, 0 0 16px #f6ff00;
    animation: caiEDesvanece 0.8s ease-out forwards;
}
@keyframes caiEDesvanece{
    0% {
        opacity: 1;
        transform: translate(0,0) scale(1) rotate(0) ;
    }
    100% {
        opacity: 0;
        transform: translate(var(--xAle), 40px) scale(0.3) rotate(45deg); 
    }

}