.contact-form{
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: url(https://tse1.mm.bing.net/th/id/OIP.akqSbb8KD94UJWc_hLZtYQHaFO?r=0&rs=1&pid=ImgDetMain&o=7&rm=3);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    border-radius: 8px;
}
.form-group{
    margin-bottom: 12px;
}
label{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;

}
input, select, textarea{
    display:flow-root;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
textarea{
    height: 100px;
    resize: vertical;
}
.btn-submit{
    width: 100%;
    padding: 10px;
    background:#efb0d7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}
.btn-submit:hover{
    background:#f7c1e4;
}
input{
    border: none;
    border-radius: 10px;
    background-color: rgba(84, 105, 109, 0.501);
}
#assunto{
    background: rgba(69, 108, 116, 0.501);
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
}