/*Reset Básico de estilo para remover margens e preenchimentos padrões*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0eded;
    color: #333;
}
a{
    color: white;
}
/*Define uma largura máxima para o conteúdo e centraliza*/
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/*Cabeçalho*/
header{
    background-image: linear-gradient(90deg, #fdb3f2, rgb(240, 119, 204));
    color: white;
    padding: 2px 0;
}
header nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1%;
}
/*Remove estilos padrões da lista de navegação e adiciona espaçamento*/
header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.logo {
    display: flex;
    height: 40px;
    width: 90px;
}
.nome { 
    width: 70%;
    margin-left: 2px;
}
.nome h1 {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #faf6f6;
}
/*Seção do carrossel de imagens e informação.*/
.carousel{
    position: relative;
    max-width: 100%;
    margin-top: 50px;
    align-items: center;
    overflow: hidden; 
    /*Garante que apenas um item seja vísivel*/

}
.carousel-container{
    display: flex;
    align-items: center;
    transition: transform 1s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    box-shadow: 10px 5px 5px rgba(48, 48, 48, 0.151) ;
}
.carousel-item img{
    max-width: 60%;
    height: auto;
    margin-right: 1px;
    border-radius: 8px;
}
/*Botões de navegação do carrossel*/
.carousel-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 90, 141, 0.7);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}
.carousel-btn.prev{
    left: 10px;
}
.carousel-btn.next{
    right: 10px;
}
/*Seção de Serviços */
.services{
    padding: 2rem 0;
    text-align: center;
}
.services h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.service-list{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.service-item{
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.service-item:hover{
    transform: scale(1.05);
}
.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
@media (max-width: 768px){
    .menu-toggle{
        display: block;   
    }

.menu {
    display: none;
    flex-direction: column;
    background: #0059ad00;
    width: 100%;
    text-align: center;
}
.menu.show{
    display: flex;
}
.menu li{
    padding: 10px;
}
}
footer{
    background-image: linear-gradient(90deg, #fdb3f2, rgb(240, 119, 204));
    color: #fff;
    display: flex;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 16px;
    
}
/*Estilização dos elementos da página sobre*/
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
}
.content{
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.content h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.content-list{
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.content-item {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 4px 7px rgba(230, 222, 222, 0.5);
    transition: transform 0.3s ease;
    flex: 1 1 300px;
}
.content-item:hover{
    transform: scale(1.05);
}
.content-item ul{
    list-style: none;
    padding: 0;
    margin-top: 0;
}
.content-item ul li {
    background-color: #0058ad;
    color: white;
    padding: 10px 13px;    
    margin: 8px;
    border-radius: 15px;
    font-weight: bold;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
} 
.content-item ul li:before{
    content: "\2714";
    font-size: 18px;
    color: #f5cc00;
}
img{
    max-width: 100%;
}
@media (max-width: 768px) {
    /*No carrossel, empilhar imafgem e texto*/
    .carousel-item {
        flex-direction: column;
        text-align: center;
    }
    .carousel-item img{
        margin-bottom: 20px;
        max-width: 90%;
    }
}